*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Inter", sans-serif;
}
body{
    background-color: #000000;
    color: #ffffff;
}
nav{
    backdrop-filter: blur(24px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    position:fixed;
    top: 0;
    width: 100%;
}
svg{
    width: 100px;
}
.about{
    display: flex;
    gap: 30px;
}
.about p{
    font-weight:400;
}
button{
    padding: 7px 10px;
    border-radius: 20px;
    font-weight: 500;
}

.cont{
    background-color: rgba(128, 128, 128, 0.16);
    color: #ffffff;
}
.bg{
    position: absolute;
    z-index: -10;
    top: 0;
    width: 100%;
}
.upd{
    position: absolute;
    top: 100px;
    left:35%;
    display: flex;
    width: fit-content;
    z-index: -5;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.276);
    gap: 10px;
    padding: 5px 10px;
    border-radius: 20px;
}
.upd img{
    background-color: #ffffff;
    border-radius:100%;
}
.sec1{
    padding:200px 0;
    width: fit-content;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 50px;
    margin-bottom: 30px;
}
.sec1 p{
    line-height: 1.5;
    font-size: 18px;
}
.email{
    background-color:rgba(128, 128, 128, 0.276) ;
    width: fit-content;
    border-radius: 40px;
    padding:4px;
    margin-top: 30px;
    margin-bottom: 100px;
    border: .5px solid gray;
}
.trust{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}
.h2{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
}
.subH{
    color: rgb(204, 200, 200);
    line-height: 1.5;
}
.age > p{
    text-align: center;

}
.grid{
    display: grid;
    width: 80vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: auto;
    margin-top: 100px;
    gap: 20px;
}
.card{
   
    box-shadow: 0 0 1px gray;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    gap: 10px;
    padding: 20px;
}
.green{
    color: #18e299;
    font-size: 12px;
}
.h4{
    font-size: 20px;
    font-weight: 500;
}
.enterprise{
    background-color: #151616;
    margin-top: 150px;
    width: 100%;
}
.flex2{
    display: flex;
    align-items:end;
    justify-content:start ;
    width: 90vw;
    margin: auto;
    gap: 50px;
    padding: 80px 40px;
    padding-bottom: 10px;
}
.case{
    margin-top: 100px;
}
.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.flex p {
    text-align: center;
}
.card2{
    color: gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 400px;
    margin-top: 50px;
}
.grid2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90vw;
    margin: auto;
    gap:20px ;
}
.card3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 200px;
}
.f1{
    border: 1px solid rgba(128, 128, 128, 0.227);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    margin: auto;
    padding: 40px;
    padding-top: 60px;
}
.grid5{
     border: 1px solid rgba(128, 128, 128, 0.227);
    width: 80vw;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);

}
.card5{
    margin: 20px 5px;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    line-height: 2;
    align-items: start;
}